<!--link href="../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="edit-levelstatus">
    <template>
        <style>
            :host {
                width: 100%;
            }
        </style>

        <!-- local DOM for your element -->
    </template>
</dom-module>

<script>
    Polymer({
        is: "edit-levelstatus",
        properties: {
            level: {
                type: Number,
                notify: true,
                reflectToAttribute: true
            },
            statusList: {
                type: Array,
                notify: true,
                reflectToAttribute: true
            }
        },
        ready: function(e){
            console.log("Edit Level/Status Loaded");
        }
    });
</script>
