<section>
    <paper-card>
        <div class="card-content">
            <p>
                A seed to create an Hybrid App using Cordova, AngularJs and Polymer.
            </p>
            <p>
                This isn't an Ionic Framework Seed.
            </p>
        </div>
        <div class="card-actions">
            <a ng-href="https://github.com/mario-aleo/cordova-angular-polymer-seed">
                <paper-icon-button icon="favorite"></paper-icon-button>
            </a>
            <a ng-href="https://github.com/mario-aleo">
                <paper-icon-button icon="account-circle"></paper-icon-button>
            </a>
        </div>
    </paper-card>
</section>