<!--link href="../../../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="sheet-list">
    <template>
        <style>
            :host {
                width: 100%;
            }

            #add-sheet {
                position: fixed;
                bottom: 16px;
                right: 16px;
            }

            #space {
                height: 64px;
            }
        </style>

        <!--iron-localstorage name="localstorageSheetList"
                           value="{{sheetList}}"
                           on-iron-localstorage-load-empty="initializeDefaultValue"></iron-localstorage-->

        <template is="dom-repeat"
                  items="{{ sheetList }}">
            <sheet-card personagem="{{ item.name }}"
                        level="{{ item.level }}"
                        classe="{{ item.class }}"
                        raca="{{ item.race }}"
                        sistema="{{ item.system }}"></sheet-card>
        </template>

        <div id="space"></div>

        <paper-fab noink
                   icon="add"
                   id="add-sheet"
                   on-click="createSheet"></paper-fab>
    </template>
</dom-module>

<script>
    Polymer({
        is: "sheet-list",
        properties: {
        },
        ready: function(e){
            console.log("Sheet List Loaded");
        },
        createSheet: function(e){
            console.log("Route to CreateSheet");
            this.set('route.path', '/sheetCreation');
            this.page = 'sheetCreation';
            console.log(Polymer);
        }
    });
</script>
