<!--link href="../../../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="sheet-list">  
    <template>
        <style>
            :host {
                width: 100%;
            }
            
            #add-sheet {
                position: fixed;
                bottom: 16px;
                right: 16px;
            }
            
            #space {
                height: 64px;
            }
        </style>
        
        <carbon-route route="{{route}}"></carbon-route>
        
        <iron-localstorage name="localstorageSheetList" 
                           value="{{sheetList}}"
                           on-iron-localstorage-load-empty="initializeDefaultValue"></iron-localstorage>
        
        <template is="dom-repeat" 
                  items="{{ sheetList }}">    
            <sheet-card personagem="{{ item.name }}" 
                        level="{{ item.level }}" 
                        classe="{{ item.class }}" 
                        raca="{{ item.race }}" 
                        sistema="{{ item.system }}"></sheet-card>
        </template>
        
        <div id="space"></div>

        <paper-fab noink 
                   icon="add" 
                   id="add-sheet" 
                   on-click="createSheet"></paper-fab>
    </template>
</dom-module>
    
<script>
    Polymer({
        is: "sheet-list",
        properties: {
            sheetList: {
                type: Array
            },
            routeData: {
                type: Object,
                notify: true,
                reflectToAttribute: true
            }
        },
        ready: function(e){
            console.log("Sheet List Loaded");
        },
        initializeDefaultValue: function() {
            console.log("LocalStorage Default Sheet List");
            this.sheetList = [
                {
                    name: "Marad",
                    class: "Paladino",
                    race: "Draenei",
                    level: 100,
                    system: "WoWTable"
                },
                {
                    name: "Bilbo",
                    class: "Ladino",
                    race: "Hobbit",
                    level: 10,
                    system: "LotR RPG"
                }
            ]
        },
        createSheet: function(e){
            console.log("Route Polymer to CreateSheet");
            this.set('route.path', '/sheetCreation');
            this.routeData = 'sheetCreation';
        }
    });
</script>