<link rel="import" href="../../../assets/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../assets/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../assets/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../assets/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../assets/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../assets/bower_components/paper-button/paper-button.html">

<link rel="import" href="basic-tab.html">
<link rel="import" href="status-tab.html">
<link rel="import" href="status-card.html">
<link rel="import" href="resources-tab.html">
<link rel="import" href="resources-card.html">
<link rel="import" href="defenses-tab.html">
<link rel="import" href="defenses-card.html">
<link rel="import" href="skills-tab.html">
<link rel="import" href="skills-card.html">

<dom-module id="sheet-creation">
    <template>
        <style>
            :host {
                display: none;
                width: 100%;
            }

            :host([active]) {
                display: block;
            }

            paper-tabs, paper-toolbar {
                width: 100%;
                z-index: 0;
                background-color: #9E9E9E;
                color: #FFFFFF;
            }

            paper-button {
                color: var(--accent-color);
            }

            paper-fab {
                position: absolute;
                right: 16px;
                top: 120px;
                z-index: 1;
            }

            iron-pages {
                height: calc(100vh - 112px);
                overflow-y: auto;
            }

            #openSaveSheetDialog {
                min-width: 240px;
            }

            @media (min-width: 490px) {
                paper-fab {
                    top: 80px;
                }
            }
        </style>

        <paper-fab noink
                   icon="save"
                   on-click="_openSaveSheetDialog"></paper-fab>

        <paper-tabs noink
                    scrollable
                    selected="{{ tabSelected }}">
            <paper-tab>Basic</paper-tab>
            <paper-tab>Status</paper-tab>
            <paper-tab>Resources</paper-tab>
            <paper-tab>Defenses</paper-tab>
            <paper-tab>Skills</paper-tab>
        </paper-tabs>

        <iron-pages selected="{{ tabSelected }}">

            <basic-tab name="{{ newSheet.name }}"
                       job="{{ newSheet.job }}"
                       race="{{ newSheet.race }}"
                       level="{{ newSheet.level }}"
                       system="{{ newSheet.system }}"></basic-tab>

            <status-tab status-list="{{ newSheet.statusList }}"></status-tab>

            <resources-tab resources-list="{{ newSheet.resourcesList }}"
                           status-list="{{ newSheet.statusList }}"></resources-tab>

            <defenses-tab defenses-list="{{ newSheet.defensesList }}"
                           status-list="{{ newSheet.statusList }}"></defenses-tab>

            <skills-tab skills-list="{{ newSheet.skillsList }}"
                        status-list="{{ newSheet.statusList }}"></skills-tab>

        </iron-pages>

        <paper-dialog id="openSaveSheetDialog"
                      fit-into="{{dialogFit}}">
            <h2>Save New Sheet</h2>
            <p>Do you want to save this new sheet? </p>
            <p>Keep in mind that you can't add or remove anything later.</p>
            <div class="buttons">
                <paper-button dialog-dismiss>Decline</paper-button>
                <paper-button dialog-confirm
                              autofocus
                              on-click="_saveSheet">Accept</paper-button>
            </div>
        </paper-dialog>
    </template>
</dom-module>

<script>
    Polymer({
        is: "sheet-creation",

        properties: {
            active: {
                type: Boolean,
                value: false,
                reflectToAttribute: true
            },
            tabSelected: {
                type: String,
                value: "0",
                notify: true
            },
            dialogFit: {
                type: Object,
                notify: true
            }
        },

        ready: function(e){
            console.log("Sheet Creation Loaded");
        },

        attached: function(e){
            this.dialogFit = document.querySelector("content-pages");
        },

        _openSaveSheetDialog: function(e){
            document.querySelector("#openSaveSheetDialog").open();
        },

        _saveSheet: function(e){
            console.log("Saving Sheet");
            // Need to Verify  Each Status, Resource, Defense and Skill and SUM
            var element = this;
            // SUM Status = baseValue + (levelModifier * level)
            this.newSheet.statusList.forEach(
                function(status, index){
                    status.value = parseInt(status.baseValue) + (parseFloat(status.levelModifier) * parseInt(element.newSheet.level));
                }
            );
            // SUM Resource = baseValue + (statusBase.value * statusBaseModifier) + (levelModifier * level)
            // or if statusBase == None => SUM Resource = baseValue + (levelModifier * level)
            this.newSheet.resourcesList.forEach(
                function(resource, index){
                    if(resource.statusBase != "None"){
                        var baseStatusValue = Enumerable.From(element.newSheet.statusList)
                                                        .Where(function (x) { return x.name == resource.statusBase })
                                                        .Select(function (x) { return x.value })
                                                        .ToString();
                        resource.value = parseInt(parseInt(resource.baseValue) + (parseFloat(resource.statusBaseModifier) * parseInt(baseStatusValue)) + (parseFloat(resource.levelModifier) * parseInt(element.newSheet.level)));
                    } else{
                        resource.value = parseInt(parseInt(resource.baseValue) + (parseFloat(resource.levelModifier) * parseInt(element.newSheet.level)));
                    }
                }
            );
            // SUM Defense = baseValue + (statusBase.value * statusBaseModifier) + (levelModifier * level)
            // or if statusBase == None => SUM Defense = baseValue + (levelModifier * level)
            this.newSheet.defensesList.forEach(
                function(defense, index){
                    if(defense.statusBase != "None"){
                        var baseStatusValue = Enumerable.From(element.newSheet.statusList)
                                                        .Where(function (x) { return x.name == defense.statusBase })
                                                        .Select(function (x) { return x.value })
                                                        .ToString();
                        defense.value = parseInt(parseInt(defense.baseValue) + (parseFloat(defense.statusBaseModifier) * parseInt(baseStatusValue)) + (parseFloat(defense.levelModifier) * parseInt(element.newSheet.level)));
                    } else{
                        defense.value = parseInt(parseInt(defense.baseValue) + (parseFloat(defense.levelModifier) * parseInt(element.newSheet.level)));
                    }
                }
            );
            // SUM Skill = baseValue + (statusBase.value * statusBaseModifier) + (levelModifier * level)
            // or if statusBase == None => SUM Skill = baseValue + (levelModifier * level)
            this.newSheet.skillsList.forEach(
                function(skill, index){
                    if(skill.statusBase != "None"){
                        var baseStatusValue = Enumerable.From(element.newSheet.statusList)
                                                        .Where(function (x) { return x.name == skill.statusBase })
                                                        .Select(function (x) { return x.value })
                                                        .ToString();
                        skill.value = parseInt(parseInt(skill.baseValue) + (parseFloat(skill.statusBaseModifier) * parseInt(baseStatusValue)) + (parseFloat(skill.levelModifier) * parseInt(element.newSheet.level)));
                    } else{
                        skill.value = parseInt(parseInt(skill.baseValue) + (parseFloat(skill.levelModifier) * parseInt(element.newSheet.level)));
                    }
                }
            );
            // Pushing to SheetList and Cleaning the newSheet
            document.querySelector("sheetlist-data").push("sheetList.list", this.newSheet);
            document.querySelector("newsheet-data").set("newSheet", this.baseSheet);
            console.log("Sheet Saved");
            console.log("Route to SheetList");
            document.querySelector("dungeon-dices").set("route.path", "/sheetList");
        }
    });
</script>
