<!--link href="../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="skills-tab">
    <template>
        <style>
            :host {
                width: 100%;
                margin: auto;
                overflow-x: hidden;
                @apply(--layout-vertical);
            }

            #add-skills {
                position: absolute;
                bottom: 16px;
                right: 16px;
            }

            #space {
                height: 64px;
            }
        </style>

        <template is="dom-repeat"
                  items="{{ skillsList }}">
            <iron-swipeable-container on-iron-swipe="cardSwipedAway">
                <skills-card index="{{ index }}"
                             name="{{ item.name }}"
                             value="{{ item.value }}"
                             base-value="{{ item.baseValue }}"
                             status-base="{{ item.statusBase }}"
                             status-base-modifier="{{ item.statusBaseModifier }}"
                             level-modifier="{{ item.levelModifier }}"
                             persist-bonus="{{ item.persistBonus }}"
                             volatile-bonus="{{ item.volatileBonus }}"
                             status-list="{{ statusList }}"></skills-card>
            </iron-swipeable-container>
        </template>

        <div id="space"></div>

        <paper-fab noink
                   icon="add"
                   id="add-skills"
                   on-click="newSkills"></paper-fab>
    </template>
</dom-module>

<script>
    Polymer({
        is: "skills-tab",
        properties: {
            skillsList: {
                type: Array,
                notify: true,
                reflectToAttribute: true
            },
            statusList: {
                type: Array,
                notify: true,
                reflectToAttribute: true
            }
        },
        ready: function(e){
            console.log("Skills Tab Loaded");
        },
        cardSwipedAway: function(e){
            console.log("Skills Card Removed");
            this.splice('skillsList', e.detail.target.index, 1);
        },
        newSkills: function(e){
            console.log("Skills Card Add");
            this.push("skillsList", {
                name: "Diplomacy/Heal...",
                value: 0,
                baseValue: 10,
                statusBase: "None",
                statusBaseModifier: 1,
                levelModifier: 0.5,
                persistBonus: 0,
                volatileBonus: 0
            });
        }
    });
</script>
