<!--link href="../../../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="skills-card">
    <template>
        <style>
            :host {
                width: 100%;
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
                --paper-input-container-focus-color: #03A9F4;
            }

            paper-card {
                margin-top: 16px;
                width: 90%;
            }

            paper-dropdown-menu {
                display: block;
            }

            .card-content {
                padding-bottom: 32px;
            }

            .card-actions-button {
                color: #F44336;
            }
        </style>

        <paper-card>
            <div class="card-content">
                <paper-input-container>
                    <label>Name</label>
                    <input is="iron-input"
                           bind-value="{{ name }}">
                </paper-input-container>

                <paper-input-container>
                    <label>Initial Value</label>
                    <input is="iron-input"
                           bind-value="{{ baseValue }}">
                </paper-input-container>

                <paper-dropdown-menu label="Status Modificador">
                    <paper-listbox class="dropdown-content"
                                   attr-for-selected="status-name"
                                   selected="{{ statusBase }}">
                        <paper-item status-name="None">None</paper-item>
                        <template is="dom-repeat" items="{{ statusList }}">
                            <paper-item status-name="{{ item.name }}">{{ item.name }}</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>

                <paper-input-container>
                    <label>Value Modifier per Status Point</label>
                    <input is="iron-input"
                           bind-value="{{ statusBaseModifier }}">
                </paper-input-container>

                <paper-input-container>
                    <label>Value Modifier per Level</label>
                    <input is="iron-input"
                           bind-value="{{ levelModifier }}">
                </paper-input-container>
            </div>
            <div class="card-actions">
                <paper-button class="card-actions-button"
                              on-click="deleteCard">Delete</paper-button>
            </div>
        </paper-card>
    </template>
</dom-module>

<script>
    Polymer({
        is: "skills-card",
        properties: {
            index: {
                type: Number
            },
            name: {
                type: String,
                notify: true,
                reflectToAttribute: true
            },
            value: {
                type: String,
                notify: true,
                reflectToAttribute: true
            },
            baseValue: {
                type: String,
                notify: true,
                reflectToAttribute: true
            },
            statusBase: {
                type: String,
                value: "None",
                notify: true,
                reflectToAttribute: true
            },
            statusBaseModifier: {
                type: String,
                notify: true,
                reflectToAttribute: true
            },
            levelModifier: {
                type: String,
                notify: true,
                reflectToAttribute: true
            },
            persistBonus: {
                type: String,
                notify: true,
                reflectToAttribute: true
            },
            volatileBonus: {
                type: String,
                notify: true,
                reflectToAttribute: true
            },
            statusList: {
                type: Array
            }
        },
        ready: function(e){
            console.log("Skills Card Loaded");
        },
        deleteCard: function(e){
            console.log("Skill Card Deleted");
            document.querySelector("sheet-creation").splice('creatingSheet.skillsList', this.index, 1);
        }
    });
</script>
