<!--link href="../../../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="sheet-card">
    <template>
        <style>
            :host {
                width: 100%;
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
            }

            paper-card {
                margin-top: 16px;
                width: 80%;
            }

            .card-content-row {
                 @apply(--layout-horizontal);
                 @apply(--layout-justified);
                 margin-top: -1em;
                 margin-bottom: -1em;
            }
        </style>

        <app-location use-hash-as-path
                      route="{{ route }}"></app-location>

        <app-route route="{{ route }}"
                   pattern="/:page"
                   data="{{ dataRoute }}"></app-route>

        <paper-card on-click="openSheet">
            <div class="card-content">
                <div class="card-content-row">
                    <p>Personagem:</p><p>{{ personagem }}</p>
                </div>
                <div class="card-content-row">
                    <p>Level:</p><p>{{ level }}</p>
                </div>
                <div class="card-content-row">
                    <p>Classe:</p><p>{{ classe }}</p>
                </div>
                <div class="card-content-row">
                    <p>Raça:</p><p>{{ raca }}</p>
                </div>
                <div class="card-content-row">
                    <p>Sistema:</p><p>{{ sistema }}</p>
                </div>
            </div>
        </paper-card>
    </template>
</dom-module>

<script>
    Polymer({
        is: "sheet-card",
        properties: {
            personagem: {
                type: String
            },
            level: {
                type: String
            },
            classe: {
                type: String
            },
            raca: {
                type: String
            },
            sistema: {
                type: String
            },
            sheet: {
                type: Object
            },
            route: {
                type: Object
            },
            page: {
                type: String
            }
        },
        ready: function(e){
            console.log("Sheet List Card Loaded");
        },
        openSheet: function(e){
            document.querySelector("sheet-detail").set('sheet', this.sheet);
            this.set("route.path", "/sheetDetail");
            this.set("page", "sheetDetail");
        }
    });
</script>
