<!--link href="../../../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="sheet-list">
    <template>
        <style>
            :host {
                width: 100%;
            }

            #div-empty {
                width: 80%;
                margin: 16px auto;
                @apply(--layout-vertical);
                @apply(--layout-center);
            }

            #text-empty {
                color: var(--dark-primary-color)
            }

            #add-sheet {
                position: absolute;
                bottom: 16px;
                right: 16px;
            }

            #space {
                height: 64px;
            }
        </style>

        <template is="dom-repeat"
                  items="{{ sheetList.list }}">
            <sheet-card personagem="{{ item.name }}"
                        level="{{ item.level }}"
                        classe="{{ item.job }}"
                        raca="{{ item.race }}"
                        sistema="{{ item.system }}"
                        sheet="{{ item }}"></sheet-card>
        </template>

        <template is="dom-if"
                  if="{{ hasSheet }}">
            <div id="div-empty">
                <h2 id="text-empty">Nothing to See Here :(</h2>
            </div>
        </template>

        <div id="space"></div>

        <paper-fab noink
                   icon="add"
                   id="add-sheet"
                   on-click="createSheet"></paper-fab>
    </template>
</dom-module>

<script>
    Polymer({
        is: "sheet-list",
        properties: {
            sheetList: {
                type: Object,
                notify: true,
                reflectToAttribute: true
            },
            hasSheet: {
                type: Boolean,
                value: false
            },
            routeElement: {
                type: Object
            }
        },
        observers: [
            "_sheetListUpdate(sheetList.*)"
        ],
        ready: function(e){
            console.log("Sheet List Loaded");
            this.routeElement = document.querySelector("dungeon-dices");
        },
        _sheetListUpdate: function(e){
            if(typeof this.sheetList.list == null || this.sheetList.list.length == 0){
                this.hasSheet = true;
            } else{
                this.hasSheet = false;
            }
        },
        createSheet: function(e){
            console.log("Route to CreateSheet");
            this.routeElement.set("route.path", "/sheetCreation");
            this.routeElement.set("page", "sheetCreation");
        }
    });
</script>
