<!--link href="../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="element-name">
    <template>
        <style>
            :host {
                width: 100%;
            }
        </style>

        <!-- Resorces List Card -->

        <!-- Status List Card -->

        <!-- Defenses List Card -->

        <!-- Skills List Card -->

        <!-- Buff / Debuff List Card -->
    </template>
</dom-module>

<script>
    Polymer({
        is: "element-name",
        properties: {
            sheetDeatil: {
                type: Object
            }
        },
        ready: function(e){
            console.log("Sheet Detail Loaded");
        }
    });
</script>
