<!--link href="../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="basic-tab">  
    <template>
        <style>
            :host {
                width: 90%;
                margin: auto;
                @apply(--layout-vertical);
                --paper-input-container-focus-color: #03A9F4;
            }
        </style>
        
        
        <h3>Basico</h3>
        
        <paper-input-container>
            <label>Nome</label>
            <input is="iron-input" bind-value="{{name}}"> 
        </paper-input-container>

        <paper-input-container>
            <label>Classe</label>
            <input is="iron-input" bind-value="{{job}}"> 
        </paper-input-container>

        <paper-input-container>
            <label>Raça</label>
            <input is="iron-input" bind-value="{{race}}"> 
        </paper-input-container>

        <paper-input-container>
            <label>Level</label>
            <input is="iron-input" bind-value="{{level}}"> 
        </paper-input-container>

        <paper-input-container>
            <label>Sistema</label>
            <input is="iron-input" bind-value="{{system}}"> 
        </paper-input-container>
    </template>
</dom-module>
    
<script>
    Polymer({
        is: "basic-tab",
        properties: {
            name: {
                type: String
            },
            job: {
                type: String
            },
            race: {
                type: String
            },
            level: {
                type: Number
            },
            system: {
                type: String
            }
        },
        ready: function(e){
            console.log("Basic Tab");
            console.log(this.sheetObject);
        },
        _sheetObjectChanged: function(e){
            console.log(this.sheetObject);
        }
    });
</script>
