<!--link href="../../../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="sheet-creation">  
    <template>
        <style>
            :host {
                width: 100%;
                --paper-tabs-selection-bar-color: #03A9F4;
            }
            
            paper-tabs, paper-toolbar {
                width: 100%;
                z-index: 1;
                position: fixed;
                background-color: #9E9E9E;
                color: #FFFFFF;
            }
        </style>
        
        <iron-localstorage
        name="localstorageSheetList"
        value="{{ sheetList }}"
        ></iron-localstorage>
        
        <iron-localstorage
        name="localstorageBaseSheet"
        value="{{ baseSheet }}"
        on-iron-localstorage-load-empty="initializeDefaultBaseSheet"
        ></iron-localstorage>
        
        <paper-tabs selected="{{ selected }}" noink scrollable>
            <paper-tab>Basico</paper-tab>
            <paper-tab>Status</paper-tab>
            <paper-tab>Recursos</paper-tab>
            <paper-tab>Defenses</paper-tab>
            <paper-tab>Skills</paper-tab>
        </paper-tabs>

        <iron-pages selected="{{ selected }}">
            
            <basic-tab name="{{ newSheet.name }}" job="{{ newSheet.job }}" race="{{ newSheet.race }}" level="{{ newSheet.level }}" system="{{ newSheet.system }}"></basic-tab>
            
            <status-tab status-list="{{ newSheet.statusList }}"></status-tab>
            
            <resources-tab resources-list="{{ newSheet.resourcesList }}"></resources-tab>
            
            <div>Defenses</div>
            
            <div>Skills</div>
            
        </iron-pages>
    </template>
</dom-module>
    
<script>
    Polymer({
        is: "sheet-creation",
        properties: {
            selected: {
                type: String,
                value: "0"
            },
            sheetList: {
                type: Array
            },
            baseSheet: {
                type: Object,
                observer: '_baseSheetChanged'
            },
            newSheet: {
                type: Object
            }
        },
        observers: [
            '_modelUpdated(newSheet.*)'
        ],
        ready: function(e){
            console.log("Sheet Creation Loaded");
        },
        _baseSheetChanged: function(e){
            console.log('Base Sheet Changed');
            console.log(this.baseSheet);
            if(typeof this.newSheet == 'undefined'){
                this.newSheet = Object.assign({}, this.baseSheet);
                console.log('New Sheet');
                console.log(this.newSheet);
            }
        },
        _modelUpdated: function(e){
            console.log('Model Update');
            console.log(this.newSheet);
        },
        initializeDefaultBaseSheet: function(e){
            this.baseSheet = {
                name: "",
                job: "",
                race: "",
                level: "1",
                system: "",
                statusList: [
                    {
                        name: "",
                        value: 0,
                        baseValue: 0,
                        levelModifier: 0,
                        persistBonus: 0,
                        volatileBonus: 0
                    }
                ],
                // { *name: "vit", value: SUM, *baseValue: 10, *levelModifier: 0, persistBonus: 0, volatileBonus: 0 }, ...
                resourcesList: [
                    {
                        name: "",
                        value: 0,
                        baseValue: 0,
                        statusBase:  null, 
                        statusBaseModifier: 0,
                        levelModifier: 0,
                        persistBonus: 0,
                        volatileBonus: 0
                    }
                ],
                // { *name: "hp", value: SUM, *baseValue: 10, *statusBase: Vit, *statusBaseModifier: 1, *levelModifier: 0, persistBonus: 0, volatileBonus: 0 }, ...
                defensesList: [],
                // { *name: "armor", value: SUM, *baseValue: 10, *statusBase: Vit, *statusBaseModifier: 1, *levelModifier: 0, persistBonus: 0, volatileBonus: 0 }, ...
                attacksList: [],
                // { *name: "attackName", AttackValue: SUM, DamageValue: SUM, *baseAttack: 10, *attackStatusBase: Vit, *attackStatusBaseModifier: 1, *attackLevelModifier: 0, attackpersistBonus: 0, attackVolatileBonus: 0, *baseDamage: 10, *damageStatusBase: Vit, *damageStatusBaseModifier: 1, *damageLevelModifier: 0, damagepersistBonus: 0, damageVolatileBonus: 0 }, ...
                skillsList: [],
                // { *name: "skillName", value: SUM, *baseValue: 10, *statusBase: Vit, *statusBaseModifier: 1, *levelModifier: 0, persistBonus: 0, volatileBonus: 0 }, ...
                equipments: {
                    head: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    chest: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    legs: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    feet: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    hands: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    cloak: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    waist: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    wrist: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    trinkets: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }, ...
                    weapon: {},
                    // *equipmentName: { *type: 1, *attack: 10, *damage: 10, effect1: { *value: 10, *affect: Armor }, ... }
                    shield: {}
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                },
                persistBonusList: [],
                // { name: "bonusName", *value: 10, *affect: Vit }, ...  Kind of: Equipment Bonus 
                volatileBonusList: []
                // { *name: "bonusName", *value: 10, *affect: Vit }, ...  Kind of: Potion Bonus
            }
        }
    });
</script>
