<!--link href="../../../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="sheet-creation">  
    <template>
        <style>
            :host {
                width: 100%;
            }
            
            .add-sheet {
                float: right;
                margin: 16px;
            }
        </style>
        
        <iron-localstorage
        name="baseSheet"
        value="{{baseSheet}}"
        on-iron-localstorage-load-empty="initializeDefaultBaseSheet"
        ></iron-localstorage>
        
        <iron-localstorage
        name="baseStatus"
        value="{{baseStatus}}"
        on-iron-localstorage-load-empty="initializeDefaultBaseStatus"
        ></iron-localstorage>
        
        <!-- Elements -->

        <paper-fab class="add-sheet" noink icon="add" on-click="createSheet"></paper-fab>
    </template>
</dom-module>
    
<script>
    Polymer({
        is: "sheet-creation",
        properties: {
            baseSheet: {
                type: Object
            },
            baseStatus: {
                type: Object
            }
        },
        ready: function(e){
            console.log("Sheet Creation Loaded");
        },
        initializeDefaultBaseSheet: function() {
            console.log("LocalStorage Base Sheet");
            this.baseSheet = {
                name: "",
                class: "",
                race: "",
                level: 1,
                system: "",
                status: {},
                // *vit: { value: SUM, *baseValue: 10, *levelModifier: 0, persistBonus: 0, volatileBonus: 0 }, ...
                resources: {},
                // *hp: { value: SUM, *baseValue: 10, *statusBase: Vit, *statusBaseModifier: 1, *levelModifier: 0, persistBonus: 0, volatileBonus: 0 }, ...
                defenses: {},
                // *armor: { value: SUM, *baseValue: 10, *statusBase: Vit, *statusBaseModifier: 1, *levelModifier: 0, persistBonus: 0, volatileBonus: 0 }, ...
                attacks: {},
                // *attackName: { AttackValue: SUM, DamageValue: SUM, *baseAttack: 10, *attackStatusBase: Vit, *attackStatusBaseModifier: 1, *attackLevelModifier: 0, attackpersistBonus: 0, attackVolatileBonus: 0, *baseDamage: 10, *damageStatusBase: Vit, *damageStatusBaseModifier: 1, *damageLevelModifier: 0, damagepersistBonus: 0, damageVolatileBonus: 0 }, ...
                skills: {},
                // *skillName: { value: SUM, *baseValue: 10, *statusBase: Vit, *statusBaseModifier: 1, *levelModifier: 0, persistBonus: 0, volatileBonus: 0 }, ...
                equipments: {
                    head: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    chest: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    legs: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    feet: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    hands: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    cloak: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    waist: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    wrist: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                    trinkets: {},
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }, ...
                    weapon: {},
                    // *equipmentName: { *type: 1, *attack: 10, *damage: 10, effect1: { *value: 10, *affect: Armor }, ... }
                    shield: {}
                    // *equipmentName: { effect1: { *value: 10, *affect: Armor }, ... }
                },
                persistBonus: {},
                // bonusName: { *value: 10, *affect: Vit }, ... /* Sample: Equipment Bonus */
                volatileBonus: {}
                // *bonusName: { *value: 10, *affect: Vit }, ... /* Sample: Potion Bonus */
            }
        },
        initializeDefaultBaseStatus: function() {
            console.log("LocalStorage Base Status");
            this.baseStatus = {
                value: 0, 
                baseValue: 0, 
                levelModifier: 0, 
                persistBonus: 0, 
                volatileBonus: 0
            }
        },
        initializeDefaultBaseResources: function() {
            console.log("LocalStorage Base Resources");
            this.baseResources = {
                value: 0, 
                baseValue: 0, 
                statusBase: null, 
                statusBaseModifier: 0, 
                levelModifier: 0, 
                persistBonus: 0, 
                volatileBonus: 0
            }
        },
        initializeDefaultBaseDefenses: function() {
            console.log("LocalStorage Base Defenses");
            this.baseDefenses = {
                value: 0, 
                baseValue: 0, 
                statusBase: null, 
                statusBaseModifier: 0, 
                levelModifier: 0, 
                persistBonus: 0, 
                volatileBonus: 0
            }
        },
        initializeDefaultBaseAttacks: function() {
            console.log("LocalStorage Base Attacks");
            this.baseAttacks = {
                AttackValue: 0, 
                DamageValue: 0, 
                baseAttack: 0, 
                attackStatusBase: null, 
                attackStatusBaseModifier: 0, 
                attackLevelModifier: 0, 
                attackpersistBonus: 0, 
                attackVolatileBonus: 0, 
                baseDamage: 0, 
                damageStatusBase: null, 
                damageStatusBaseModifier: 0, 
                damageLevelModifier: 0, 
                damagepersistBonus: 0, 
                damageVolatileBonus: 0
            }
        },
        initializeDefaultBaseSkills: function() {
            console.log("LocalStorage Base Skills");
            this.baseSkills = {
                value: 0, 
                baseValue: 0, 
                statusBase: null, 
                statusBaseModifier: 0, 
                levelModifier: 0, 
                persistBonus: 0, 
                volatileBonus: 0
            }
        },
        initializeDefaultBaseEquipmentEffects: function() {
            console.log("LocalStorage Base Equipments Effects");
            this.baseEquipmentsEffects = {
                value: 0, 
                affect: null
            }
        },
        initializeDefaultBaseWeapon: function() {
            console.log("LocalStorage Base Weapon");
            this.baseWeapon = {
                type: 0, 
                attack: 0, 
                damage: 0
            }
        },
        initializeDefaultBasePersistBonus: function() {
            console.log("LocalStorage Base Persist Bonus");
            this.basePersistBonus = {
                value: 0, 
                affect: null
            }
        },
        initializeDefaultBaseVolatileBonus: function() {
            console.log("LocalStorage Base Volatile Bonus");
            this.baseVolatileBonus = {
                value: 0, 
                affect: null
            }
        }
    });
</script>