<!--link href="../../../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="sheet-creation">
    <template>
        <style>
            :host {
                width: 100%;
                --paper-tabs-selection-bar-color: #03A9F4;
            }

            paper-tabs, paper-toolbar {
                width: 100%;
                z-index: 0;
                background-color: #9E9E9E;
                color: #FFFFFF;
            }

            .tabs-pages {
                height: calc(100vh - 112px);
                overflow-y: auto;
            }

            #save-sheet {
                position: fixed;
                right: 16px;
                top: 120px;
            }

            @media (min-width: 490px) and (max-width: 600px) {
                #save-sheet {
                    position: fixed;
                    right: 16px;
                    top: 80px;
                }
            }

            @media (min-width: 740px) {
                #save-sheet {
                    position: fixed;
                    right: 16px;
                    top: 80px;
                }
            }
        </style>

        <!--iron-localstorage name="localstorageSheetList"
                           value="{{ sheetList }}"></iron-localstorage-->

        <!--iron-localstorage name="localstorageBaseSheet"
                           value="{{ baseSheet }}"
                           on-iron-localstorage-load-empty="initializeDefaultBaseSheet"></iron-localstorage>

        <iron-localstorage name="localstorageCreatingSheet"
                           value="{{ creatingSheet }}"
                           on-iron-localstorage-load-empty="initializeDefaultCreatingSheet"></iron-localstorage-->

        <paper-fab noink
                   icon="save"
                   id="save-sheet"
                   on-click="saveSheet"></paper-fab>

        <paper-tabs noink
                    scrollable
                    selected="{{ selected }}">
            <paper-tab>Basico</paper-tab>
            <paper-tab>Status</paper-tab>
            <paper-tab>Recursos</paper-tab>
            <paper-tab>Defenses</paper-tab>
            <paper-tab>Skills</paper-tab>
        </paper-tabs>

        <iron-pages selected="{{ selected }}"
                    class="tabs-pages">

            <basic-tab name="{{ creatingSheet.name }}"
                       job="{{ creatingSheet.job }}"
                       race="{{ creatingSheet.race }}"
                       level="{{ creatingSheet.level }}"
                       system="{{ creatingSheet.system }}"></basic-tab>

            <status-tab status-list="{{ creatingSheet.statusList }}"></status-tab>

            <resources-tab resources-list="{{ creatingSheet.resourcesList }}"
                           status-list="{{ creatingSheet.statusList }}"></resources-tab>

            <defenses-tab defenses-list="{{ creatingSheet.defensesList }}"
                           status-list="{{ creatingSheet.statusList }}"></defenses-tab>

            <skills-tab skills-list="{{ creatingSheet.skillsList }}"
                        status-list="{{ creatingSheet.statusList }}"></skills-tab>

        </iron-pages>
    </template>
</dom-module>

<script>
    Polymer({
        is: "sheet-creation",
        properties: {
            selected: {
                type: String,
                value: "0"
            }
        },
        observers: [
            '_modelUpdated(creatingSheet.*)'
        ],
        ready: function(e){
            console.log("Sheet Creation Loaded");
        },
        _modelUpdated: function(e){
            console.log('Model Update');
            console.log(this.creatingSheet);
        },
        saveSheet: function(e){
            console.log('Saving Sheet');
            // Need to Verify  Each Status, Resource, Defense and Skill and SUM

            var scAtt = this;

            // SUM Status = baseValue + (levelModifier * level)
            this.creatingSheet.statusList.forEach(
                function(status, index){
                    status.value = parseInt(status.baseValue) + (parseInt(status.levelModifier) * parseInt(scAtt.creatingSheet.level));
                }
            );

            // SUM Resource = baseValue + (statusBase.value * statusBaseModifier) + (levelModifier * level)
            this.creatingSheet.resourcesList.forEach(
                function(resource, index){
                    var baseStatusValue = scAtt.creatingSheet.statusList[
                        scAtt.creatingSheet.statusList.map(
                            function(obj) {
                                return obj.name;
                            }
                        ).indexOf(resource.statusBase)
                    ].value;

                    resource.value = parseInt(resource.baseValue) + (parseInt(resource.statusBaseModifier) * parseInt(baseStatusValue)) + (parseInt(resource.levelModifier) * parseInt(scAtt.creatingSheet.level));
                }
            );

            // SUM Defense = baseValue + (statusBase.value * statusBaseModifier) + (levelModifier * level)
            this.creatingSheet.defensesList.forEach(
                function(defense, index){
                    var baseStatusValue = scAtt.creatingSheet.statusList[
                        scAtt.creatingSheet.statusList.map(
                            function(obj) {
                                return obj.name;
                            }
                        ).indexOf(defense.statusBase)
                    ].value;

                    defense.value = parseInt(defense.baseValue) + (parseInt(defense.statusBaseModifier) * parseInt(baseStatusValue)) + (parseInt(defense.levelModifier) * parseInt(scAtt.creatingSheet.level));
                }
            );

            // SUM Skill = baseValue + (statusBase.value * statusBaseModifier) + (levelModifier * level)
            this.creatingSheet.skillsList.forEach(
                function(skill, index){
                    var baseStatusValue = scAtt.creatingSheet.statusList[
                        scAtt.creatingSheet.statusList.map(
                            function(obj) {
                                return obj.name;
                            }
                        ).indexOf(skill.statusBase)
                    ].value;

                    skill.value = parseInt(skill.baseValue) + (parseInt(skill.statusBaseModifier) * parseInt(baseStatusValue)) + (parseInt(skill.levelModifier) * parseInt(scAtt.creatingSheet.level));
                }
            );

            this.sheetList.push( scAtt.creatingSheet );
            this.fire('saveSheetListRequest', { newList: scAtt.sheetList });
            this.fire('clearCreatingSheetRequest');

            console.log('Sheet Saved');
        }
    });
</script>
