<!--link href="../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="basic-card">
    <template>
        <style>
            :host {
                width: 100%;
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
            }

            paper-card {
                margin-top: 16px;
                width: 80%;
            }

            .card-content-row {
                 @apply(--layout-horizontal);
                 @apply(--layout-justified);
                 margin-top: -1em;
                 margin-bottom: -1em;
            }
        </style>

        <paper-card  heading="Basic">
            <div class="card-content">
                <div class="card-content-row">
                    <p>Name:</p><p>{{ name }}</p>
                </div>
                <div class="card-content-row">
                    <p>Class:</p><p>{{ job }}</p>
                </div>
                <div class="card-content-row">
                    <p>Race:</p><p>{{ race }}</p>
                </div>
                <div class="card-content-row">
                    <p>Level:</p><p>{{ level }}</p>
                </div>
            </div>
        </paper-card>
    </template>
</dom-module>

<script>
    Polymer({
        is: "basic-card",
        properties: {
            name: {
                type: Object
            },
            job: {
                type: Object
            },
            race: {
                type: Object
            },
            level: {
                type: Object
            }
        },
        ready: function(e){
            console.log("Basic Card Loaded");
        }
    });
</script>
