<link rel="import" href="../../../assets/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../assets/bower_components/iron-icons/editor-icons.html">


<link rel="import" href="detail-basic-card.html">
<link rel="import" href="detail-resources-card.html">
<link rel="import" href="detail-status-card.html">
<link rel="import" href="detail-defenses-card.html">
<link rel="import" href="detail-skills-card.html">

<dom-module id="sheet-detail">
    <template>
        <style>
            :host {
                display: none;
                width: 100%;
            }

            :host([active]) {
                display: block;
            }

            a {
                position: absolute;
                right: 16px;
                bottom: 16px;
            }

            .space {
                height: 64px;
            }
        </style>

        <detail-basic-card name="{{ sheet.name }}"
                           job="{{ sheet.job }}"
                           race="{{ sheet.race }}"
                           level="{{ sheet.level }}"></detail-basic-card>

        <detail-resorces-card resorces-list="{{ sheet.resourcesList }}"></detail-resorces-card>

        <detail-status-card status-list="{{ sheet.statusList }}"></detail-status-card>

        <detail-defenses-card defenses-list="{{ sheet.defensesList }}"></detail-defenses-card>

        <detail-skills-card skills-list="{{ sheet.skillsList }}"></detail-skills-card>

        <!-- Bonus List Card -->

        <div class="space"></div>

        <a href="#/sheetEdit">
            <paper-fab noink
                       icon="editor:mode-edit"></paper-fab>
        </a>
    </template>
</dom-module>

<script>
    Polymer({
        is: "sheet-detail",

        properties: {
            active: {
                type: Boolean,
                value: false,
                reflectToAttribute: true
            }
        },

        ready: function(e){
            console.log("Sheet Detail Loaded");
        }
    });
</script>
