<!--link href="../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="sheet-detail">
    <template>
        <style>
            :host {
                width: 100%;
            }

            #edit-sheet {
                position: absolute;
                right: 16px;
                bottom: 16px;
            }

            #space {
                height: 64px;
            }
        </style>

        <app-location use-hash-as-path
                      route="{{ route }}"></app-location>

        <app-route route="{{ route }}"
                   pattern="/:page"
                   data="{{ dataRoute }}"></app-route>

        <detail-basic-card name="{{ sheet.name }}"
                           job="{{ sheet.job }}"
                           race="{{ sheet.race }}"
                           level="{{ sheet.level }}"></detail-basic-card>

        <detail-resorces-card resorces-list="{{ sheet.resourcesList }}"></detail-resorces-card>

        <detail-status-card status-list="{{ sheet.statusList }}"></detail-status-card>

        <detail-defenses-card defenses-list="{{ sheet.defensesList }}"></detail-defenses-card>

        <detail-skills-card skills-list="{{ sheet.skillsList }}"></detail-skills-card>

        <!-- Bonus List Card -->

        <div id="space"></div>
        
        <paper-fab noink
                   icon="editor:mode-edit"
                   id="edit-sheet"
                   on-click="editSheet"></paper-fab>
    </template>
</dom-module>

<script>
    Polymer({
        is: "sheet-detail",
        properties: {
            sheet: {
                type: Object
            },
            route: {
                type: Object,
                notify: true
            }
        },
        ready: function(e){
            console.log("Sheet Detail Loaded");
        },
        editSheet: function(e){
            console.log("Route to SheetEdit");
            this.set("route.path", "/sheetEdit");
        }
    });
</script>
