<!--link href="../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="sheet-detail">
    <template>
        <style>
            :host {
                width: 100%;
            }

            paper-menu-button {
                position: absolute;
                right: 16px;
                bottom: 16px;
            }

            #space {
                height: 64px;
            }
        </style>

        <basic-card name="{{ sheet.name }}"
                    job="{{ sheet.job }}"
                    race="{{ sheet.race }}"
                    level="{{ sheet.level }}"></basic-card>

        <resorceslist-card resorces-list="{{ sheet.resourcesList }}"></resorceslist-card>

        <statuslist-card status-list="{{ sheet.statusList }}"></statuslist-card>

        <defenseslist-card defenses-list="{{ sheet.defensesList }}"></defenseslist-card>

        <skillslist-card skills-list="{{ sheet.skillsList }}"></skillslist-card>

        <!-- Buff / Debuff List Card -->

        <div id="space"></div>

        <paper-menu-button vertical-align="bottom"
                           horizontal-align="right"
                           horizontal-offset="6"
                           vertical-offset="6">
            <paper-fab noink
                       icon="editor:mode-edit"
                       class="dropdown-trigger"></paper-fab>
            <paper-menu class="dropdown-content">
                <paper-item>Level/Status</paper-item>
                <paper-item>Buff/Debuff</paper-item>
            </paper-menu>
        </paper-menu-button>
    </template>
</dom-module>

<script>
    Polymer({
        is: "sheet-detail",
        properties: {
            sheet: {
                type: Object
            }
        },
        ready: function(e){
            console.log("Sheet Detail Loaded");
        }
    });
</script>
